<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WorkSchedule-20210124110457.mdf;Initial Catalog=aspnet-WorkSchedule-20210124110457;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="WorkScheduleDB"
       connectionString="Data Source=.;Initial Catalog=WorkSchedule;Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
